@font-face{
  font-family: 'Rubik';
  font-weight: 300;
  font-style: normal;
  src: 
        url('../fonts/Rubik-Light.woff2') format('woff'),
        url('../fonts/Rubik-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  src:
    url('../fonts/Rubik-Regular.woff2') format('woff'),
    url('../fonts/Rubik-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  font-style: normal;
  src:
    url('../fonts/Rubik-Medium.woff2') format('woff'),
    url('../fonts/Rubik-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-weight: 600;
  font-style: normal;
  src:
    url('../fonts/Rubik-SemiBold.woff2') format('woff'),
    url('../fonts/Rubik-SemiBold.woff') format('woff');
  font-display: swap;
}