@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';



.header {
  height: 100vh;

  &__inner {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  transition: box-shadow 0.3s ease-in-out, opacity .5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:focus {
    box-shadow: 0px 0px 0px 2px $box-shadow;
    border-radius: 5px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item+.menu__item {
    padding-left: 45px;
  }

  &__link {
    font-size: 18px;
    line-height: 0.8;
    transition: .3s;

    &:focus {
      box-shadow: 0px 0px 0px 2px $box-shadow;
      border-radius: 5px;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      text-shadow: 2px 2px 5px $text-shadow;
      color: $default;
    }
  }

  &__link--active {
    color: $accent;
  }
}

.user-nav {
  display: flex;
  padding-left: 53px;

  &__link {
    position: relative;
    padding: 10px;
    padding-bottom: 4px;
    transition: box-shadow .5s, background-color .3s;

    &:focus {
      background-color: $focus-color;
      box-shadow: 0px 0px 0px 2px $box-shadow;
      border-radius: 5px;
    }

    &:hover {
      background-color: $accent;
      border-radius: 5px;
    }

    &:hover path {
      stroke: $white;
    }

    &:hover ellipse {
      stroke: $white;
    }

    &:hover .user-nav__num {
      background-color: $white;
      color: $accent;
    }

    &:active {
      background-color: $focus-color;
      box-shadow: 0px 0px 0px 0px $box-shadow;
      border-radius: 5px;
    }

    &:active path {
      stroke: $default;
    }

    &:active ellipse {
      stroke: $default;
    }

    &:active .user-nav__num {
      background-color: $accent;
      color: $white;
    }
  }

  &__link:not(:last-child) {
    margin-right: 15px;
  }

  &__num {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $accent;
    color: $white;
    text-align: center;
    font-size: 10px;
    left: 25px;
    bottom: 22px;
  }
}

.header-content {
  display: flex;
  justify-content: space-between;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    width: 100%;
  }

  &__title {
    color: $title;
    @extend %rubik-500;
    text-transform: uppercase;
    font-size: 66px;
    margin-bottom: 20px;
  }

  &__span {
    color: $accent;
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 20px;
  }
}

.header-box {
  &__btn {
    font-size: 18px;
    margin-right: 34px;
  }
}

.popular {
  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__menu {
    display: flex;
    margin-bottom: 45px;
  }

  &__menu--btn {
    color: $title;
    background-color: $white;
    box-shadow: 0px 0px 0px 1px $border;
    border-radius: 5px;
    border: none;
    padding: 13px 32px;
    cursor: pointer;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: box-shadow .5s;

    &:focus {
      box-shadow: 0px 0px 0px 2px $box-shadow;
    }

    &:hover {
      background-color: $focus-color;
      box-shadow: 0px 0px 0px 2px $box-shadow;
      color: $accent;
    }

    &:hover path {
      fill: $accent;
    }

    &:active {
      box-shadow: inset 0px -5px 12px $active-color;
    }
  }

  &__menu--active {
    background-color: $accent;
    color: $white;
  }

  &__menu--active path {
    fill: $white;
  }

  &__link {
    max-width: 133px;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  margin-bottom: 60px;

  &__item {
    padding: 20px 15px;
    text-align: center;
    background-color: $white;
    box-shadow: 0px 0px 0px 1px $border;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    transition: box-shadow .5s;

    &:hover {
      box-shadow: 0px 0px 0px 1px $accent;
      border-radius: 5px;
    }

    &__img {
      margin: 0 auto;
    }

    &__title {
      font-size: 15px;
      line-height: 1.2;
    }

    &__price {
      font-size: 15px;
      line-height: 1.4;
      @extend %rubik-500;
    }

    &__btn {
      font-size: 14px;
      color: $white;
      background-color: $accent;
      padding: 7px 16px;
      border: none;
      border-radius: 6px;
      max-width: 101px;
      width: 100%;
      margin: 0 auto;
      cursor: pointer;
      transition: box-shadow .5s, background-color .3s;

      &:focus {
        background-color: $focus-color;
        box-shadow: 0px 0px 0px 2px $box-shadow;
        border-radius: 5px;
        color: $accent;
      }

      &:hover {
        background-color: $black;
        box-shadow: 0px 5px 12px $active-color, 0px 0px 0px 2px $box-shadow;
        border-radius: 5px;
        color: $accent;
      }

      &:active {
        background-color: $focus-color;
        border-radius: 5px;
        color: $accent;
      }
    }
  }
}





.footer-logo {
  display: block;
  margin-bottom: 30px;
}

.footer-top {
  padding: 120px 0 60px;
  display: grid;
  grid-template-columns: 200px 153px 89px 187px 195px;
  grid-gap: 70px;

  &__link {
    font-size: 18px;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    display: block;
    transition: color .3s;

    &:hover {
      color: $accent;
    }
  }
}

.form {
  max-width: 200px;
  width: 100%;

  &__input {
    max-width: 200px;
    width: 100%;
    margin-bottom: 12px;
    background-color: #FFF;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    padding: 8px 15px 9px 13px;

    &::placeholder {
      font-size: 14px;
      color: $gray;
      opacity: 0.9;
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px $accent;
      border-radius: 5px;
      outline: $accent;
    }

    &:hover::placeholder {
      color: $title;
    }
  }
}

.form-btn {
  font-size: 14px;
  @extend %rubik-500;
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 200px;
  width: 100%;

  &:focus path {
    fill: $accent;
  }

  &:hover path {
    fill: $accent;
  }

  &:active path {
    fill: $accent;
  }
}

.address {
  &__item {
    margin-bottom: 25px;
  }

  &__link {
    font-size: 16px;
    line-height: 0.8;
    font-style: normal;
    display: flex;
    align-items: center;
    gap: 7px;
    transition: color .3s;

    &:hover {
      color: $accent;
    }
  }

  &__link--location::before {
    content: '';
    background-image: url(../images/Location.svg);
    background-position: center center;
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  &__link--phone::before {
    content: '';
    background-image: url(../images/Calling.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  &__link--message::before {
    content: '';
    background-image: url(../images/Message.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
  }
}

.social-list {
  display: flex;

  &__item+.social-list__item {
    padding-left: 13px;
  }

  &__link {
    background-color: $border;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    display: block;
    text-align: center;
    line-height: 2;
    transition: box-shadow .5s, background-color .3s;

    &:focus {
      background-color: $icon-color;
      box-shadow: 0px 0px 0px 2px $box-shadow;
    }

    &:hover {
      background-color: $accent;
    }

    &:hover path {
      background-color: $accent;
      fill: $white;
    }

    &:active {
      background-color: $icon-color;
    }

    &:active path {
      background-color: $icon-color;
      fill: $accent;
    }
  }
}

.footer-bottom {
  padding: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 1.0;
  border-top: 1px solid $border;
}




@import 'media';