.app {
  &__content {
    background-repeat: no-repeat;
    background-position: right;
    background-size: 570px 380px;
    height: 380px;
    display: flex;
    align-items: center;
  }
}

.app-wrapper {
  max-width: 540px;
  width: 100%;

  &__title {
    margin-bottom: 45px;
  }

  &__text {
    margin-bottom: 30px;
    line-height: 1.5;
    opacity: 0.9;
  }
}

.app-store {
  display: flex;

  &__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}